.li {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    gap: 50px;
    flex: 1;
    place-items: center;
    border: 1px solid var(--color-golden-rod);
    transition: transform ease-in-out .15s;
    transform: translateY(0);
}

.li:hover {
    transform: translateY(-15px);
    cursor: pointer;
}

.li:hover .cardName {
    color: var(--color-rich-carmine);
    text-decoration: underline;
}

.li:hover .cardName span svg {
    transform: translateX(10px);
}

.li:hover .cardName span svg path {
    stroke: var(--color-rich-carmine);
}

.logoContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--color-rich-carmine);
    display: grid;
    place-items: center;
}

.body {
    display: inherit;
    flex-direction: inherit;
    gap: 30px;
    line-height: 22px;
}

.cardName {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 34px;
    font-size: 28px;
    font-weight: 600;
}

.span {
    display: flex;
    text-transform: capitalize;
    gap: 10px;
}

.span svg {
    transition: transform .15s ease-in-out;
    transform: translateX(0);
}