.nav {
    z-index: 9999;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-sakura);
    height: var(--navbar-height);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 8vw;
}

.ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.li {
    background-color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    white-space: nowrap;
    padding: 0 1.5vw;
    gap: 18px;

}

.li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.li svg {
    fill: var(--color-rich-carmine);
}

.li:hover {
    opacity: .85;
    text-decoration: underline;
}

.li:last-child {
    border-left: 1px var(--color-rich-carmine) solid;
    background-color: var(--color-white);
    min-width: 160px;
    width: 7vw;
    max-width: 200px;
    font-weight: bold;
}

.li:last-child a svg {
    transition: transform ease-in-out 300ms;
}

.li:last-child:hover.li:last-child a svg {
    transform: translate(8px);
}